<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Decoraciones Alves</title>
    <!--CDN's (MDBootstrap & Bootstrap 5)-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css"rel="stylesheet"/>
    <!--MDBootstrap para el Navbar-->
    <link rel="stylesheet" href="stylesheets/mdbootstrap/mdb.min.css">
    <!--CDN Animate-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!--- STYLE PERSONALIZADO --> 
    <link rel="stylesheet" href="stylesheets/personalizado/style.css">
    <link rel="stylesheet" href="stylesheets/personalizado/navbar_color.css">
    <link rel="stylesheet" href="stylesheets/personalizado/contacto.css">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"/>
    <!--Logo Decoraciones Alves-->
    <link rel="shortcut icon" href="/images/logo/decoalves.png">
  </head>

  <body>

    <header class="header">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark scrolling-navbar fixed-top">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img src="images/logo/decoalves.png" alt="" width="58" height="66" class="d-inline-block align-center">
             <h1 class="logo"> Decoraciones Alves</h1>
            </a>
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
              <div class= "navbar-nav menu-size">
                <a class="menu__link" aria-current="page" href="/" style="text-shadow: 0px 1px #fff;">Inicio</a>
                <a class="menu__link" href="/about" style="text-shadow: 0px 1px #fff;">Acerca de...</a>
                <a class="menu__link" href="/galeria" style="text-shadow: 0px 1px #fff;">Galería</a>
                <a class="menu__link active select" href="#" style="text-shadow: 0px 1px #fff;">Contacto</a>
                <!--<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <div class="banner">
      <img src="images/img-default/13.jpg" alt="imagen-de-fondo" class="banner__img">
      <div class="container">
        <h2 class="banner__title wow animate__animated animate__fadeIn" style="text-shadow: 0px 1px #fff;">Contacto.</h2>
        <p class="banner__text wow animate__animated animate__fadeIn" style="text-shadow: 0px 1px #fff;">Si te interesa contactarnos, estás en el lugar correcto!</p>
      </div>
    </div>

    <div>
      <h2 class="subtitulo">Teléfonos</h2>
    </div>
    <div class="contact-middle-area pt-100 pb-70">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4 wow animate__animated animate__fadeIn">
						<div class="single-contact-middle mb-30">
							<div class="middle-text">
								<img class="" style=" height: 80px; width: 70px;" align ="left" src="images/logo/decoalves.png" alt="">
								<h4>Decoraciones Alves</h4>
								<p>Teléfono: 0295-2642875 <br>
								Mas información, al número telefónico. </p>
								<a style="right: 60px;" href="#">decoracionesalves@hotmail.com</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 wow animate__animated animate__fadeIn">
						<div class="single-contact-middle mb-30">
							<div class="middle-text">
								<img class="" style=" height: 80px; width: 70px;" align ="left" src="images/logo/decoalves.png" alt="">
								<h4>Antonio Alves</h4>
								<p>Teléfono: +58 4147937306 <br>Encargado de la empresa. <br><br></p>
								<a style="right: 60px;" href="#">alves.1952@hotmail.com</a>
							</div>
						</div>
					</div>
          <div class="col-md-4 col-sm-4 wow animate__animated animate__fadeIn">
						<div class="single-contact-middle mb-30">
							<div class="middle-text">
								<img class="" style=" height: 80px; width: 70px;" align ="left" src="images/logo/decoalves.png" alt="">
								<h4>Rosa Sáenz</h4>
								<p>Teléfono: +58 4140934449 <br>Administración e información de la empresa. <br></p>
								<a style="right: 60px;" href="#">rosalve2009@hotmail.com</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

    <div>
      <h2 class="subtitulo">Ubicación</h2> <!--Preguntar si gusta el subrayado-->
    </div>
    <br>
    <br>
    <iframe id="map" class="" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1958.4746563626923!2d-63.85315325222242!3d10.967198623487322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c318ea33883c8b3%3A0xcbde3bdc202986c!2sMultiservicios%20OMICRON%20ms!5e0!3m2!1ses-419!2sve!4v1572443022471!5m2!1ses-419!2sve" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

    <div class="ptb-60 text-center">
			<div class="container">
				<div class="row">
					<div class="col-md-offset-3 col-sm-12">
						<div class="contact-bottom-text text-center">
							<h2 class="text-center" style="text-align: center;">¡Comunicate con nosotros!</h2>
							<p class="text-center" style="text-align: center;">Mediante este formulario podrá ponerse en contacto con nosotros de manera rápida y sencilla.</p> <!--Recibirá nuestra respuesta lo antes posible.-->
						</div>
					</div>
				</div>
        
				<div class="row" >
					<div class="col-md-8 col-md-offset-2 col-sm-12 margin-contact" style="">
						<form id="contact-form" action="" method="post">
							<div class="row">
								<div style="" class="col-md-6 col-sm-6 input-nombre"><!--<i style="" class="fas fa-user-alt icon-user"></i>-->
									<input style="" type="text"  placeholder="Nombre" name="name">
								</div>
								<div style="" class="col-md-6 col-sm-6 input-email"> <!--<i style="" class="fas fa-envelope icon-email"></i>-->
									<input type="email" placeholder="Email @example.com" name="email">
								</div>
								<div class="col-md-12" style="">
									<input type="text" placeholder="Asunto" name="subject">
                </div>
                <div class="col-md-12" style="">
									<textarea id="message" placeholder="Mensaje" rows="6" cols="25" name="message"></textarea>
								</div>
                <!--<i style="" class="fas fa-id-card icon-card"></i> <!--Cambiar para que agarre todo el input del texto y del subject-->
                <!--<i style="" class="fas fa-pencil-alt icon-pencil"></i>-->
								<div class="col-md-12 text-center">
									<button style="background-color:#CD4444" class="btn" type="submit">Enviar Email</button>
								</div>
							</div>
						</form>
						<p class="form-message"></p>
					</div>
				</div>	
			</div>
		</div> 


    <footer class="footer" style="margin-bottom: 0px;">
      <div class="social">
        <a href="" class="fab fa-facebook-f"></a>
        <a href="" class="fab fa-instagram"></a>
        <a href="" class="fab fa-twitter"></a>
        <a href="" class="fab fa-google"></a>
      </div>
      <p class="copy" style="margin-top: 8px;">&copy; Decoraciones Alves 2021 - Todos los derechos reservados <br> Rif: V-06273163-6</p>
    </footer>

    <!-- jQuery --> 
    <script type="text/javascript" src="javascripts/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap and Popper,core JavaScript and Bootstrap tooltips (Cualquier error, poner el bundle por separado,es decir, Bootstrap y Popper)--> <!-- Se puede poner o no poner, solo es para el boostrap(Esta puesto por si acaso, cualquier fallo, quitar)-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <!-- MDB core JavaScript (Usado para el NavBar) -->
    <script type="text/javascript" src="javascripts/mdbootstrap/mdb.min.js"></script>
    <!-- MDB-KIT Javascript-->
    <script type="text/javascript"src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"></script>
    <!--CDN WOW-->
    <script src="https://wowjs.uk/dist/wow.min.js"></script>

    <script>
      new WOW().init();
    </script>

  </body>
</html>