<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Decoraciones Alves</title>
    <!--CDN's (MDBootstrap & Bootstrap 5)-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css"rel="stylesheet"/>
    <!--MDBootstrap para el Navbar-->
    <link rel="stylesheet" href="stylesheets/mdbootstrap/mdb.min.css">
    <!--CDN Animate-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!--- STYLE PERSONALIZADO --> 
    <link rel="stylesheet" href="stylesheets/personalizado/style.css">
    <link rel="stylesheet" href="stylesheets/personalizado/navbar_color.css">
    <!--Style de la Galeria-->
    <link rel="stylesheet" href="stylesheets/galeria/main.css">
    <link rel="stylesheet" href="/stylesheets/galeria/prettyPhoto.css">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"/>
    <!--Logo Decoraciones Alves-->
    <link rel="shortcut icon" href="/images/logo/decoalves.png">
  </head>

  <body>

    <header class="header">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark scrolling-navbar fixed-top">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img src="images/logo/decoalves.png" alt="" width="58" height="66" class="d-inline-block align-center">
             <h1 class="logo"> Decoraciones Alves</h1>
            </a>
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
              <div class= "navbar-nav menu-size">
                <a class="menu__link" aria-current="page" href="/" style="text-shadow: 0px 1px #fff;">Inicio</a>
                <a class="menu__link" href="/about" style="text-shadow: 0px 1px #fff;">Acerca de...</a>
                <a class="menu__link active select" href="#" style="text-shadow: 0px 1px #fff;">Galería</a>
                <a class="menu__link" href="/contacto" style="text-shadow: 0px 1px #fff;">Contacto</a>
                <!--<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <div class="banner">
      <img src="images/img-default/20.jpg" alt="imagen-de-fondo" class="banner__img">
      <div class="container">
        <h2 class="banner__title wow animate__animated animate__fadeIn" style="text-shadow: 0px 1px #fff;">Galería.</h2>
        <p class="banner__text wow animate__animated animate__fadeIn" style="text-shadow: 0px 1px #fff;">Mostramos una amplia gama de lo que se puede lograr!</p>
      </div>
    </div>

    <section id="portfolio">
      <div class="container">
          <div class="center">
              <h2 class="section__title">Trabajo Reciente.</h2>
              <p class="ofrecemos-title-description">Mas de 50 años de experiencia nos avalan, realizando todo tipo de tapizados y estilos de muebles para el hogar. <br> Asesoramos al cliente segun sus necesidades.</p>
          </div>


          <ul class="portfolio-filter text-center">
              <li><a class="btn active" href="#" data-filter="*">Todos los trabajos</a></li>
              <li><a class="btn " href="#" data-filter=".bootstrap">Salas</a></li>
              <li><a class="btn " href="#" data-filter=".html">Creativo</a></li>
              <li><a class="btn " href="#" data-filter=".wordpress">Estilos de muebles</a></li>
          </ul>
          <!--/#portfolio-filter-->

          <div class="row">
              <div class="portfolio-items">
                  <div class="portfolio-item apps col-xs-12 col-sm-4 col-md-3 single-work">
                      <div class="recent-work-wrap">
                          <img class="img-responsive" src="images/img-default/7.jpg" alt="">
                          <div class="overlay">
                              <div class="recent-work-inner">
                                  <a class="preview" href="images/img-default/7.jpg" rel="prettyPhoto"><i class="fas fa-search-plus"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!--/.portfolio-item-->

                  <div class="portfolio-item joomla bootstrap col-xs-12 col-sm-4 col-md-3 single-work">
                      <div class="recent-work-wrap">
                          <img class="img-responsive" src="images/img-default/19.jpg" alt="">
                          <div class="overlay">
                              <div class="recent-work-inner">
                                  <a class="preview" href="images/img-default/19.jpg" rel="prettyPhoto"><i class="fas fa-search-plus"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!--/.portfolio-item-->

                  <div class="portfolio-item bootstrap wordpress col-xs-12 col-sm-4 col-md-3 single-work">
                      <div class="recent-work-wrap">
                          <img class="img-responsive" src="images/img-default/21.jpg" alt="">
                          <div class="overlay">
                              <div class="recent-work-inner">
                                  <a class="preview" href="images/img-default/21.jpg" rel="prettyPhoto"><i class="fas fa-search-plus"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!--/.portfolio-item-->

                  <div class="portfolio-item joomla wordpress apps col-xs-12 col-sm-4 col-md-3 single-work">
                      <div class="recent-work-wrap">
                          <img class="img-responsive" src="images/img-default/23.jpg" alt="">
                          <div class="overlay">
                              <div class="recent-work-inner">
                                  <a class="preview" href="images/img-default/23.jpg" rel="prettyPhoto"><i class="fas fa-search-plus"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!--/.portfolio-item-->

                  <div class="portfolio-item joomla html bootstrap col-xs-12 col-sm-4 col-md-3 single-work">
                      <div class="recent-work-wrap">
                          <img class="img-responsive" src="images/img-default/17.jpg" alt="">
                          <div class="overlay">
                              <div class="recent-work-inner">
                                  <a class="preview" href="images/img-default/17.jpg" rel="prettyPhoto"><i class="fas fa-search-plus"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!--/.portfolio-item-->

                  <div class="portfolio-item wordpress html apps col-xs-12 col-sm-4 col-md-3 single-work">
                      <div class="recent-work-wrap">
                          <img class="img-responsive" src="images/img-default/12.jpg" alt="">
                          <div class="overlay">
                              <div class="recent-work-inner">
                                  <a class="preview" href="images/img-default/12.jpg" rel="prettyPhoto"><i class="fas fa-search-plus"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!--/.portfolio-item-->

                  <div class="portfolio-item joomla html bootstrap col-xs-12 col-sm-4 col-md-3 single-work">
                      <div class="recent-work-wrap">
                          <img class="img-responsive" src="images/img-default/5.jpg" alt="">
                          <div class="overlay">
                              <div class="recent-work-inner">
                                  <a class="preview" href="images/img-default/5.jpg" rel="prettyPhoto"><i class="fas fa-search-plus"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!--/.portfolio-item-->

                  <div class="portfolio-item wordpress html apps col-xs-12 col-sm-4 col-md-3 single-work">
                      <div class="recent-work-wrap">
                          <img class="img-responsive" src="images/img-default/10.jpg" alt="">
                          <div class="overlay">
                              <div class="recent-work-inner">
                                  <a class="preview" href="images/img-default/10.jpg" rel="prettyPhoto"><i class="fas fa-search-plus"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!--/.portfolio-item-->
              </div>
          </div>
      </div>
    </section>


    <footer class="footer" style="margin-bottom: 0px;">
      <div class="social">
        <a href="" class="fab fa-facebook-f"></a>
        <a href="" class="fab fa-instagram"></a>
        <a href="" class="fab fa-twitter"></a>
        <a href="" class="fab fa-google"></a>
      </div>
      <p class="copy" style="margin-top: 8px;">&copy; Decoraciones Alves 2021 - Todos los derechos reservados <br> Rif: V-06273163-6</p>
    </footer>

    <!--JS de la Galeria-->
    <script type="text/javascript" src="javascripts/galeria/jquery.js"></script> 
    <script type="text/javascript" src="javascripts/galeria/jquery.prettyPhoto.js"></script> 
    <script type="text/javascript" src="javascripts/galeria/owl.carousel.min.js"></script> 
    <script type="text/javascript" src="javascripts/galeria/jquery.isotope.min.js"></script> 
    <script type="text/javascript" src="javascripts/galeria/main.js"></script> 
    <!-- jQuery --> 
    <script type="text/javascript" src="javascripts/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap and Popper,core JavaScript and Bootstrap tooltips (Cualquier error, poner el bundle por separado,es decir, Bootstrap y Popper)--> <!-- Se puede poner o no poner, solo es para el boostrap(Esta puesto por si acaso, cualquier fallo, quitar)-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <!-- MDB core JavaScript (Usado para el NavBar) -->
    <script type="text/javascript" src="javascripts/mdbootstrap/mdb.min.js"></script>
    <!-- MDB-KIT Javascript-->
    <script type="text/javascript"src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"></script>
    <!--CDN WOW-->
    <script src="https://wowjs.uk/dist/wow.min.js"></script>

    <script>
      new WOW().init();
    </script>

  </body>
</html>